<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<system.serviceModel>

		<services>
			<service name="Platform.Service.TopicService"
					 behaviorConfiguration="tcpBehavior">

				<endpoint address="net.tcp://localhost:7001/service"
						  binding="netTcpBinding"
						  contract="Platform.Service.IService" />

				<endpoint address="net.tcp://localhost:7001/service/mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />

			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="tcpBehavior">
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
