<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8"/>
	</system.web>

	<system.serviceModel>
		<services>
			<service name="Platform.Service.TopicService">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:7003/Service.svc"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="netTcpBinding"
						  bindingConfiguration="InsecureTcp"
						  contract="Platform.Service.IService" />
				<endpoint address="mexhttp" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
								   multipleSiteBindingsEnabled="true"/>


		<bindings>
			<netTcpBinding>
				<binding name="InsecureTcp" portSharingEnabled="true">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>