<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpsBinding_IService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7001/TopicService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="https://localhost:7002/TopicService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_IService" contract="IService"
                name="BasicHttpsBinding_IService" />
            <endpoint address="net.tcp://localhost:7005/TopicService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService" contract="IService"
                name="NetTcpBinding_IService">
                <identity>
                    <servicePrincipalName value="host/JG0006" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>