@{
    ViewBag.Title = "Home Page";
}

<main>
    @using (Html.BeginForm("RegisterTopic", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <label for="topic">Topic:</label>
            <input type="text" name="topic" class="form-control" required />
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    }

    @if (ViewBag.Result != null)
    {
        <div>
            Status: @ViewBag.Result
        </div>
    }
</main>